@charset "UTF-8";

body {
  min-width: 1300px;
}

#container {
  position: relative;
  .contents {
    width: 1300px;
    margin: 0 auto;
    padding-top: 45px;
  }
}

.device_detail_tabs {
  width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
}

.mapoverview {
  position: relative;
}
